@model IEnumerable<camp_project.Models.Campground>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function navigateToItem(id){
        window.location.href = "/campground/detail?id=" + id
    }
    function imageNotFound(id) {
        document.getElementById(id).src = "/img/cantload.png"
    }
</script>

<div class="tile-il">
    <span>@ViewBag.il İlinde Yer Alan Kamp Alanları</span>
</div>

@foreach (var item in Model)
{
    <div class="campground-tile" onclick=navigateToItem(@item.ID)>
        <img id="img @Html.DisplayFor(modelItem => item.ID)" src="@Html.DisplayFor(modelItem => item.resim1)" onerror="imageNotFound(this.id)" />
        <div>
            <span>@Html.DisplayFor(modelItem => item.isim)</span>
            <ul>
                <li>@Html.DisplayFor(modelItem => item.il)</li>
                <li>@Html.DisplayFor(modelItem => item.lokasyon)</li>
            </ul>
        </div>
    </div>
}